.row .form-buttons {
    padding-top: 24px;
}

.adding {
    animation: successFlash 500ms ease-in;
}

.deleting {
    animation: dangerFlash 500ms ease-in;
}

@keyframes successFlash {
    0% {
        background-color: #fff;
    }
    50% {
        background-color: rgba(109, 200, 114, .3);
    }
    100% {
        background-color: #fff;
    }
}

@keyframes dangerFlash {
    0% {
        background-color: #fff;
    }
    50% {
        background-color: rgba(200, 109, 109, 0.3);
    }
    100% {
        background-color: #fff;
    }
}
